
body {
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0; 
  /* Shortcut: font:15px/1.5 'Mulish', sans-serif */
}

/** Global **/
.container {
  width: 80%; /* responsive */
  margin:auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  /* By default ul have margin and padding */
}

header, #showcase, #about, #services, #testimonials, #booknow, footer {
  overflow: hidden;
}

header li a:hover, 
header .current a {
  color: #0088a9;
  font-weight: bold;
}

a {
  color: #fff;
  text-decoration: none!important;
}

/** Header **/
header {
  background: #000;
  color: #fff;
  min-height: 50px; /* responsive */
}

header #branding {
  float: left;
}

header #branding img {
  width: 350px;
  height: 350px;
  cursor: pointer;
}

header li {
  float: left;
  display: inline;
  padding: 0 30px 0 30px;
}

header nav {
  float: right;
  margin-top: 150px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}

header #mobile_nav {
  visibility: hidden;
  display: none;
  margin-top: 150px;
}


/** Showcase **/

#showcase {
  padding: 100px;
  height: 82vh;
}

#showcase .main_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  padding-top: 50px;
  height: 100%;
}

#showcase .main_container img {
  border-radius: 50%;
  width: 700px;
  height: 700px;
  position: relative;
  left: 100px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
}

#showcase .cta_circle {
  background-color: rgba(0, 0, 0, 0.9);
  width: 700px;
  height: 700px;
  color: white;
  position: relative;
  right: 100px;
  top: 300px;
  border-radius: 50%;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
}

#showcase .cta_content {
  position: relative;
  top: 160px;
  padding: 0 50px;
  text-align: center;
  width: auto;
}

#showcase .cta_content h1 {
  font-size: 40px;
  padding-bottom: 10px;
  width: auto;
}

#showcase p {
  font-size: 24px;
  width: auto;
}

#showcase .btn {
  position: relative;
  top: -5px;
  padding: 20px 100px;
  background-color: #0088a9;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: auto;
  font-size: 20px;
}

#showcase .btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


/** About **/
#about {
  margin-top: 150px;
  padding-bottom: 200px;
}

#about .intro_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#about .intro_content {
  display: inline;
  justify-content: left;
  text-align: left;
  padding: 0 100px;
  width: 50%;
}

#about .line {
  background: black;
  width: 3px;
  height: 380px;
}

#about h2 {
  font-size: 40px;
  width: 100%;
  height: 2%;
}

#about p {
  font-size: 24px;
  width: auto;
  height: 100%;
}


/** Services **/

#services {
  padding: 50px;
  padding-bottom: 150px;
  background: rgb(0, 0, 0);
}

#services h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}

.services_circle_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 80px;
}

.services_circle {
  border-radius: 50%;
  border: 2px solid white;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  background: #0088a9;
}

#services p {
  color: white;
  font-size: 23px;
  text-align: center;
  width: auto;
}

.services_link {
  color: rgb(255, 255, 255);
  text-decoration: underline!important;
  font-size: 22px;
  font-weight: 500;
}


/** Gallery **/

#gallery {
  position: relative;
  min-height: 80vh;
  background: rgba(255, 255, 255, 0.89);
  color: white;
  margin: 100px auto;
  padding: 20px;
  overflow: hidden;
}

#gallery .container {
  padding-bottom: 100px;
}

#gallery h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
  color: #000;
}

.swiper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 800px;
  object-fit: contain;
}

#gallery p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  top: 50px;
}

#gallery a {
  color: rgb(0, 0, 0);
  text-decoration: underline!important;
  font-size: 22px;
  font-weight: 500;
}



/** Book Now **/

#booknow {
  margin-top: 50px;
  padding: 200px 0;
  color: white;
  background: black;
}

#booknow .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

#booknow .content {
  line-height: 40px;
  padding: 0 100px;
}

#booknow .second-btn, #booknow .third-btn {
  padding: 20px 50px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease 0s;
  font-size: 25px;
  margin-top: 20px;
  text-decoration: none;
}

#booknow .third-btn {
  margin-left: 30px;
}

#booknow_h2 {
  font-size: 40px;
  color: #fff;
  text-decoration: underline;
}

#booknow_p {
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: 80%;
}

#booknow img {
  min-width: 700px;
  height: auto;
  box-shadow: 10px 8px 10px rgb(19, 18, 18);
}


/** Footer **/

footer {
  width: 100%;
  margin: auto;
}

footer #footer-top { 
  padding: 100px;
  display: flex;
  justify-content: space-evenly; 
  font-size: 25px;
}

footer #footer-top img {
  margin-top: -50px;
  width: 500px;
  height: 500px;
}

footer .footer-headings {
  font-size: 35px;
  margin-bottom: 10px;
  text-decoration: underline;
}

footer #footer-top li {
  list-style-type: none;
  padding: 10px;
  color: black;
}

footer #footer-top a {
  text-decoration: none;
  color: black;
}

footer #footer-mid {
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer-mid a {
  color: white;
  text-decoration: none;
  padding: 0px 50px;
}

#footer-mid a:hover {
  color: #0088a9;
}

#footer-bottom {
  border-top: 0.1px solid white;
  padding: 20px;
  background-color: black;
  text-align: center;
  font-weight: bold;
}

#footer-bottom a {
  color: white;
  text-decoration: none;
}

#footer-bottom a:hover {
  color: #0088a9;
  font-weight: bold;
}

#footer-bottom p {
  color: white;
  font-size: 25px;
}



/** Responsive Design: Portrait Mode **/
@media (max-width:1921px) and (min-width:1025px) {

    header a {
      font-size: 16px;
    }

    header nav {
      margin-top: 110px;
    }

    header #branding img {
      width: 250px;
      height: 250px;
    }

    #showcase {
      padding:0;
      height: 100vh;
    }

    #showcase .main_container img {
      width: 500px;
      height: 500px;
    }

    #showcase .cta_circle {
      width: 500px;
      height:500px;
    }

    #showcase .cta_content {
      position: relative;
      top: 100px;
      padding: 0 30px;
      text-align: center;
      min-width: auto;
    }

    #showcase .cta_content h1 {
      font-size: 30px;
      padding-bottom: 10px;
      width: auto;
    }

    #showcase p {
      font-size: 15px;
      width: auto;
    }

    #showcase .btn {
      position: relative;
      top: -5px;
      padding: 15px 100px;
      background-color: #0088a9;
      color: #fff;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      width: auto;
      font-size: 17px;
    }

    #showcase .btn:hover {
      background-color: rgba(0, 136, 169, 0.8);
    }

    #about {
      margin-top: 20px;
    }

    #about .line {
      height: 250px;
    }

    #about h2 {
      font-size: 25px;
    }

    #about p {
      font-size: 15px;
    }

    #services {
      padding: 20px;
      padding-bottom: 80px;
    }
 
    #services h2 {
      font-size: 25px;
    }

    .services_circle {
      max-width: 100%;
      height: 230px;
    }

    #services p {
      font-size: 20px;
    }

    .services_link {
      font-size: 20px;
    }

    #gallery h2 {
      font-size: 25px;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 500px;
      object-fit: contain;
    }
    
    #gallery p a {
      font-size: 18px;
    }

    #testimonials {
      padding: 100px;
      font-size: 20px;
    }
        
    #booknow {
      padding: 100px 0px;
    }

    #booknow .content {
      line-height: 35px; 
      padding: 0;
      margin: 0;
    }

    #booknow .second-btn, #booknow .third-btn {
      padding: 12px 20px;
      font-size: 16px;
      margin-top: 20px;
    }

    #booknow .third-btn {
      margin-left: auto;
    }

    #booknow .content h2 {
      font-size: 26px;
    }

    #booknow .content p {
      font-size: 16px;
      width: 60%;
    }

    #booknow img {
      min-width: 300px;
      height: auto;
      box-shadow: 10px 8px 10px rgb(19, 18, 18);
    }

    footer #footer-top { 
      font-size: 16px;
    }

    footer #footer-top img {
      width: 300px;
      height: 300px;
    }

    footer .footer-headings {
      font-size: 25px;
    }

    #footer-bottom a:hover {
      color: #0088a9;
      font-weight: bold;
    }

    #footer-bottom p {
      font-size: 16px;
    }

}

@media (max-width:1024px) and (min-width: 769px) {
  
  header #mobile_ul {
    display: none;
    float: none;
    visibility: hidden;
  }

  header #mobile_nav {
    visibility: visible;
    display: grid;
    margin-top: -78px;
  }
  
  header #side_menu {
		background-color: rgb(0, 0, 0);
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 1;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

  header #side_menu a {
		padding: 25px 20px;
		text-decoration: none;
		font-size: 17px;
		color: #ccc;
		display: block;
		position: relative;
		top: 30px;
		left: 80px;
		transition: 0.3s;
	}


  header #branding img {
    width: 185px;
    height: 185px;
  }

  header .fa-bars {
    color: rgb(255, 255, 255);
    visibility: visible;
    font-size: larger;
    z-index: 100;
  }

  header .fa-times {
		position: relative;
    right: 160px;
    top: -60px;
    float: right;
		font-size: 25px;
	}

  header #side_menu {
		background-color: rgb(0, 0, 0);
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 1;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

  header #side_menu a {
		padding: 25px 20px;
		text-decoration: none;
		font-size: 17px;
		color: #ccc;
		display: block;
		position: relative;
		top: 30px;
		left: 80px;
		transition: 0.3s;
	}

  #showcase {
    padding: 0;
    height: 65vh;
  }

  #showcase .main_container {
    width: 100%; 
  }
  
  #showcase .main_container img {
    max-width: 400px;
    max-height: 400px;
  }

  #showcase .cta_circle {
    max-width: 400px;
    max-height: 400px;
  }
  
  #showcase .btn {
    padding: 12px 40px;
    font-size: 15px;
  }

  #showcase .cta_content {
    position: relative;
    top: 80px;
    max-width: 100%;
  }

  #showcase .cta_content h1 {
    font-size: 20px;
  }

  #showcase p {
    font-size: 14px;
  }

  #about {
    display: grid;
    padding: 0;
    padding-bottom: 150px;
    margin-top: 100px;
  }

  #about .container {
    display: grid;
    padding: 0;
    width: 100%;
  }

  #about .line {
    display: none;
    visibility: hidden;
  }

  #about h2 {
    position: relative;
    left: 0;
    font-size: 25px;
  }

  #about p {
    position: relative;
    top: 0;
    font-size: 15px;
  }

  #services {
    padding: 10px;
    padding-bottom: 80px;
  }

  #services h2 {
    font-size: 23px;
  }

  .services_circle {
    max-width: 100%;
    height: 150px;
  }

  #services p {
    font-size: 16px;
  }

  .services_link {
    font-size: 15px;
  }



  
  #gallery h2 {
    font-size: 22px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  
  #gallery p a {
    font-size: 16px;
  }


  #testimonials {
    padding: 100px;
    font-size: 20px;
  }

  #booknow .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #booknow, #testimonials {
    font-size: 14px;
    line-height: 20px;
  }

  #booknow .second-btn, #booknow .third-btn {
    padding: 14px 40px;
    font-size: 14px;
  }

  #booknow .third-btn {
     margin-left: 0;
   }

  #booknow .content h2 {
    font-size: 25px;
  }

  #booknow .content p {
    font-size: 16px;
    min-width: 100%;
    padding: 0;
  }

  #booknow img {
    display: none;
  }


  footer #footer-top { 
    display: grid;
    font-size: 16px;
  }

  footer #footer-top img {
    width: 300px;
    height: 300px;
  }

  footer .footer-headings {
    font-size: 20px;
  }

  #footer-bottom p {
    font-size: 16px;
  }

}

@media (max-width: 768px) and (min-width:476px) {

  header #mobile_ul {
    display: none;
    float: none;
    visibility: hidden;
  }

  header #mobile_nav {
    visibility: visible;
    display: grid;
    margin-top: -78px;
  }

  header #side_menu {
		background-color: rgb(0, 0, 0);
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 1;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

  header #side_menu a {
		padding: 25px 20px;
		text-decoration: none;
		font-size: 17px;
		color: #ccc;
		display: block;
		position: relative;
		top: 30px;
		left: 80px;
		transition: 0.3s;
	}

  header #branding img {
    width: 190px;
    height: 190px;
  }

  header .fa-bars {
    color: rgb(255, 255, 255);
    visibility: visible;
    font-size: larger;
  }

  header .fa-times {
		position: relative;
    right: 160px;
    top: -60px;
    float: right;
		font-size: 25px;
	}


  header #side_menu {
		background-color: rgb(0, 0, 0);
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 1;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

  header #side_menu a {
		padding: 25px 20px;
		text-decoration: none;
		font-size: 17px;
		color: #ccc;
		display: block;
		position: relative;
		top: 30px;
		left: 80px;
		transition: 0.3s;
	}

  #showcase {
    padding: 0;
    height: 70vh;
  }
  
  #showcase .main_container img {
    max-width: 380px;
    max-height: 380px;
  }

  #showcase .cta_circle {
    min-width: 400px;
    max-height: 400px;
  }
  
  #showcase .btn {
    padding: 12px 40px;
    font-size: 15px;
  }

  #showcase .cta_content {
    position: relative;
    top: 80px;
    max-width: 100%;
  }

  #showcase .cta_content h1 {
    font-size: 20px;
  }

  #showcase p {
    font-size: 14px;
  }

  #about {
    margin-top: 50px;
    padding-bottom: 100px;
  }

  #about .line {
    display: none;
    visibility: hidden;
  }

  #about .intro_content {
    padding: 0;
    width: 100%;
  }

  #about h2 {
    font-size: 25px;
  }

  #about p {
    font-size: 15px;
  }

  #services {
    padding-top: 5px;
    padding-bottom: 60px;
  }

  #services h2 {
    font-size: 20px;
  }

  .services_circle_container {
    display: grid;
  }

  .services_circle_wrapper {
    margin-top: 50px;
  }

  .services_circle {
    max-width: 100%;
    height: 200px;
  }

  #services p {
    font-size: 16px;
  }

  .services_link {
    font-size: 15px;
  }

  #gallery h2 {
    font-size: 22px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  
  #gallery p a {
    font-size: 16px;
  }

  #testimonials {
    padding: 50px;
    font-size: 20px;
  }
  
  #booknow {
    text-align: center;
  }
  
  #booknow .container {
    padding: 0;
    width: auto;
  }

  #booknow img {
      display: none;
  }

  #booknow .content h2 {
    font-size: 18px;
  }

  #booknow .content p {
    font-size: 16px;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }

  #booknow .second-btn, #booknow .third-btn {
    padding: 10px 80px;
    font-size: 14px;
    margin: 20px auto;
    display: block;
  }

  footer #footer-top li,
  #footer-bottom p {
    font-size: 14px;
  }

  footer #footer-top{ 
    display: grid;
  }
  
  footer #footer-top li {
    padding: 5px 50px;
  }

  footer #footer-top img {
    width: 300px;
    height: 350px;
  }

}

@media (max-width: 475px) and (min-width:320px) {

  header #mobile_ul {
    display: none;
    float: none;
    visibility: hidden;
  }

  header #mobile_nav {
    visibility: visible;
    display: grid;
    margin-top: -90px;
  }

  header #side_menu {
		background-color: rgb(0, 0, 0);
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 1;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

  header #side_menu a {
		padding: 25px 20px;
		text-decoration: none;
		font-size: 17px;
		color: #ccc;
		display: block;
		position: relative;
		top: 30px;
		left: 80px;
		transition: 0.3s;
	}

  header #branding img {
    width: 170px;
    height: 170px;
  }

  header .fa-bars {
    color: rgb(255, 255, 255);
    visibility: visible;
    font-size: 25px;
  }

  header .fa-times {
		position: relative;
    right: 160px;
    top: -60px;
    float: right;
		font-size: 25px;
	}

  header #side_menu {
		background-color: rgb(0, 0, 0);
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 1;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

  header #side_menu a {
		padding: 25px 20px;
		text-decoration: none;
		font-size: 17px;
		color: #ccc;
		display: block;
		position: relative;
		top: 30px;
		left: 80px;
		transition: 0.3s;
	}

  #showcase {
    padding: 0;
    height: 60vh;
  }
 
  #showcase .cta_content {
    position: relative;
    top: 35px;
  }

  #showcase .cta_content h1 {
    font-size: 20px;
  }

  #showcase .main_container img {
    max-width: 350px;
    max-height: 350px;
  }

  #showcase .cta_circle {
    position: relative;
    top: 250px;
    right: 128px;
    min-width: 345px;
    max-height: 345px;
  }
  
  #showcase .btn {
    padding: 12px 60px;
    font-size: 12px;
  }

  #showcase p {
    font-size: 14px;
    line-height: 1.7;
  }

  #about {
    margin-top: 50px;
    padding-bottom: 130px;
  }
 
  #about .line {
    display: none;
    visibility: hidden;
  }

  #about .intro_content {
    padding: 0;
    width: 100%;
  }

  #about h2 {
    font-size: 20px;
  }

  #about p {
    font-size: 14px;
    line-height: 1.7;
  }


  #services {
    padding-top: 5px;
    padding-bottom: 60px;
  }

  #services h2 {
    font-size: 20px;
  }

  .services_circle_container {
    display: grid;
  }

  .services_circle_wrapper {
    margin-top: 50px;
  }

  .services_circle {
    max-width: 100%;
    height: 200px;
  }

  #services p {
    font-size: 16px;
  }

  .services_link {
    font-size: 15px;
  }

  #gallery h2 {
    font-size: 22px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  #gallery p a {
    font-size: 16px;
  }

  #testimonials {
    padding: 50px;
    font-size: 15px;
  }

  #booknow {
    text-align: center;
  }
  
  #booknow .container {
    padding: 0;
    width: auto;
  }

  #booknow img {
      display: none;
  }

  #booknow .content h2 {
    font-size: 20px;
  }

  #booknow .content p {
    font-size: 14px;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }

  #booknow .second-btn, #booknow .third-btn {
    padding: 15px 30px;
    font-size: 12px;
    margin: 20px auto;
    width: 300px;
  }

  footer #footer-top li,
  #footer-bottom p {
    font-size: 14px;
  }

  footer #footer-top{ 
    display: grid;
  }

  footer #footer-top li {
    padding: 5px 50px;
  }

  footer #footer-top img {
    width: 300px;
    height: 300px;
  }

}



/** Responsive Design: Landscape Mode Design **/



@media (max-height: 768px) {
  #showcase {
    height: 125vh;
  } 
  #about {
    margin-top: -50px;
  }
}

@media (max-height: 548px) {
  #showcase {
    height: 140vh;
  }

  header #side_menu {
		height: 80vh;
		padding-top: 80px;
	}
  
}

@media (max-height: 375px) {

  #showcase {
    height: 206vh;
  }

  #about {
    margin-top: 50px;
  }
}


