* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



li, a, button {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: rgb(0, 0, 0); 
    height: 160px;
}

.logo {
    cursor: pointer;
    width: 175px;
    height: 160px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 50px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.btn {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

#mobile_menu {
    visibility: hidden;
    display: none;
}






#hero {
    padding: 30px;
    height: 820px;
    /* border: 1px solid red; */
}

#hero img {
    border-radius: 50%;
    width:580px;
    height:580px;
    position: relative;
    left: 150px;
    top: 20px;
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.2);
}

#cta {
    background-color: rgba(0, 0, 0, 0.9);
    width:600px;
    height:570px;
    padding:60px;
    color: rgb(255, 255, 255);
    position: relative;
    top:200px;
    right: 80px;
    float: right;
    border-radius: 50%;
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.2);
}

#cta-content {
    padding: 20px;
    line-height: 30px;
    position: relative;
    top: 120px;
    text-align: center;
}

h1 {
    font-size: 30px;
    padding-bottom: 20px;
}

#main_btn {
    position: relative;
    top: -25px;
}




#about {
    background-color: rgb(255, 255, 255);
    padding: 200px 350px 0px 350px;
    
}

.intro {
    display: inline-flex;
    position: relative;
    top: -150px;
    /* border: 1px solid red; */
}

.intro img {
    width: 450px;
    height: 450px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
}

.line {
    background: black;
    width: 10px;
    height: 220px;
    position: relative;
    top: 20px;
}

.intro h2 {
    position: relative;
    left: 63px;
    top: 40px;
    height:30px;
}

.intro p{
    position: relative;
    top:80px;
    height: 150px;
}






#services {
    height: 900px;
    background-color: black;
    color: white;
    
}

#services h2  {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 90px;
}

.carousel{
    position: relative;
    height: 500px;
    width: 90%;
    margin: 0 auto;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button--right {
    right: 0px;
    z-index: 3;
}

.carousel_button--left {
    left: 0px;
    z-index: 3;
}

.carousel_tracker-container {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.carousel_track {
    margin: 5px;
    height: 450px;
    width: 329px;
}

.carousel_image_one{
    background-image: url("images/Sedo img/img one.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid rgb(8, 8, 8);
}

.carousel_image_two {
    background-image: url("images/Sedo img/img two.png");
    background-size: cover;
    background-position: 30% 70%;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid rgb(8, 8, 8);
}

.carousel_image_three {
    background-image: url("images/Sedo img/img three.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid rgb(8, 8, 8);
}

.carousel_cta {
    background-color: black;
    padding: 20px 0px;
    text-align: center;
    position: relative;
    top: 392px;
    width: 325.6px;
    height: 55px;
    cursor: pointer;
    border: 1px solid rgb(8, 8, 8);
}

.cta_info {
    position: relative;
    top: -6px;
}

.carousel_cta img {
    position: relative;
    left: 60px;
    top: 5px;
    cursor: pointer; 
}

.carousel_nav {
     background: rgb(0, 0, 0); 
     display: flex;
     justify-content: center;
     padding: 20px 0;
 }

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    margin:0 5px;
}

.carousel_indicator.current-slide {
    background: rgba(89, 189, 106, 0.829);
}

#services p  {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 80px;
}

#services p a {
    color: white;
    text-decoration: underline;
}





#testimonials {
    padding: 120px;
    background: white;
    color: black;
    text-align: center;
}

#booknow {
    padding: 100px;
    color: white;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booknow-content {
    line-height: 30px;
    padding: 20px;
}

.second-btn {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 30px;
}

.booknow-content h2 {
    margin-bottom: 30px;
}

.booknow-content p {
    font-size: 16px;
}

.book_img {
    box-shadow: 10px 8px 2px rgba(184, 181, 181, 0.2);
}




footer {
    width: 100%;
}

#footer-top {
    padding: 50px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly; 
}

#footer-top img {
    margin-top: -50px;
    width: 300px;
    height: 300px;
}

.footer-headings {
    font-size: 22px;
    margin-bottom: 10px;
    text-decoration: underline;
}

#footer-top li {
    list-style-type: none;
    padding: 10px;
    color: black;
}

#footer-top a {
    text-decoration: none;
    color: black;
}

#footer-mid {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer-mid a {
    color: white;
    text-decoration: none;
    padding: 0px 50px;
}

#footer-mid a:hover {
    color: #0088a9;
}

#footer-bottom {
    border-top: 0.1px solid white;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}

#footer-bottom a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}



@media screen and (max-width:425px){

    header, main, footer {
        overflow: hidden;
    }

    .nav_links  {
       visibility: hidden;
    }

    #mobile_menu {
        visibility: visible;
        display: flex;
    }

    .fa-bars {
        color: rgb(255, 255, 255);
        visibility: visible;
        position: absolute;
        left: 375px;
        top: 58px;
    }

   
    
    #hero img {
        border-radius: 50%;
        width:420px;
        height:420px;
        position: relative;
        left: -70px;
        top: 10px;
        box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.2);
    }
    
    #cta {
        background-color: rgba(0, 0, 0, 0.9);
        width:420px;
        height:420px;
        padding:60px;
        color: rgb(255, 255, 255);
        position: relative;
        top:-80px;
        right: -100px;
        float: right;
        border-radius: 50%;
        box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.2);
    }
    
    #cta-content {
        padding: 20px;
        line-height: 30px;
        position: relative;
        top: 30px;
        text-align: center;
    }
    
    h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }
    
    #main_btn {
        position: relative;
        top: -30px;
    }

    #about {
        padding: 20px;
        padding-top: 200px;
    }
 
    .line {
        visibility: hidden;
        display: none;
    }
    
    .intro h2 {
        position: relative;
        left: 160px;
        top: 20px;
        height:30px;
        text-align: center;
    }
    
    .intro p{
        position: relative;
        left: -20px;
        top: 80px;
        font-size: 14px;
    }

    #services {
        margin-top: 100px;
    }

   .cta_info {
    position: relative;
    top: -6px;
    left: -23px;
    float: right;
    width: 250px;
}

    .carousel_track {
        margin: 30px;
    }

    .carousel_button--right {
        right: -15px;
    }
    
    .carousel_button--left {
        left: -15px;
    }

    #services h2  {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    
    #services {
        height: 850px;
    }
    
    #testimonials {
        padding: 80px;
    }

    #booknow {
        padding: 50px;
        display: block;
        text-align: center;
        height: 350px;
    }
    
    .second-btn {
        margin-top: 30px;
        width: 250px;
    }
    
    .book_img {
        visibility: hidden;
    }
     
    #footer-top {
        padding: 50px;
        width: 100%;
        display: grid;
        height: 900px;
    }
    
    .footer-headings {
        font-size: 18px;
    }
    
    #footer-mid {
        visibility: hidden;
    }
     
    #footer-bottom {
        padding: 30px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-weight: bold;
    }
    
    #footer-bottom a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
}

@media screen and (max-width:375px) {

    .logo {
        width: 150px;
        height: 150px;
        position: relative;
        left: -30px;
    }

    .fa-bars {
        position: absolute;
        left: 330px; 
    } 
    
    .intro h2 {
        position: relative;
        left: 130px;
        top: 40px;
        height:30px;
    }
    
    .intro p{
       font-size: 14px;
    }

    .carousel_button {
        visibility: hidden;
    }

    #booknow {
        padding: 20px;
        padding-top: 40px;
       
    }
}

@media screen and (max-width:320px){

    .logo {
        width: 150px;
        height: 150px;
        position: relative;
        left: -30px;
    }
    
    .fa-bars {
        position: absolute;
        left: 280px; 
    }

    #hero img {
        width:350px;
        height:350px;
        position: relative;
        left: -70px;
        top: 10px;
    }
    
    #cta {
        width:350px;
        height:350px;
    }
    
    #cta-content {
        position: relative;
        top: 0px;
        text-align: left;
    }
    
    h1 {
        font-size: 20px;
        padding-bottom: 20px;
    }

    #cta-content p {
        font-size: 12px;

    }
    
    #main_btn {
        position: relative;
        top: -40px;
        font-size: 12px;
        width: 155px;
    }

    #about {
        padding-top: 100px;
        padding-bottom: 80px;
    }
  
    .intro h2 {
        position: relative;
        left: 100px;
        top: 20px;
        height:30px;
        text-align: center;
    }
    
    .intro p{  
        font-size: 13px;
    }

    #testimonials {
        padding: 70px;
    }

    #booknow {
        padding: 10px;
        padding-top: 60px;
        height: 380px;  
    }
    
    #booknow p {
        font-size: 14px;
    }

    .second-btn {
        margin-top: 30px;
        width: 200px;
        font-size: 14px;
    }
    
    .book_img {
        visibility: hidden;
    }

}




/*

@media screen and (max-width:2560px) {

    header {
        height: 300px;
    }
    
    .logo {
        cursor: pointer;
        width: 295px;
        height: 295px;
    }

    #hero {
        padding: 30px;
        padding-top: 80px;
        height: 980px;
    }
    
    #hero img {
        width:720px;
        height:720px;
        position: relative;
        left: 250px;
    }
    
    #cta {
        width:720px;
        height:720px;
        position: relative;
        right: 250px;
        float: right;
    }
    
    #cta-content {
        position: relative;
        top: 180px;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background: burlywood;
    }
}

@media screen and (max-width: 768px) {
    body {
        background: salmon;
    }

}

*/